# Práctica 3: Representación del conocimiento

__Fecha de entrega: 20 de febrero de 2023__

El objetivo de esta práctica es aplicar los conceptos teóricos vistos en clase en el módulo de Representación de conocimiento. La práctica consta de un único notebook que se entregará en la tarea de entrega habilitada en el Campus  Virtual.

Cada consulta debe contener breves comentarios que expliquen cada tripleta. __No se valorarán consultas sin explicaciones__.

__Número de grupo: 20__

__Nombres de los estudiantes: Alejandro Barrachina Argudo y Juan Pablo Corella Martín__

## Consultas SPARQL sobre Wikidata.

En esta práctica vamos a usar el [punto de acceso SPARQL](https://query.wikidata.org/) de Wikidata para contestar las preguntas que se formulan a continuación. Cada pregunta debe ser respondida realizando una única consulta SPARQL. Para cada una de las entidades recuperadas se mostrará __tanto su identificador como su etiqueta__ (nombre de la entidad en lenguaje natural). 

Para cada una de las preguntas debes mostrar tanto la consulta como la respuesta obtenida. Si lo consideras necesario, puedes añadir celdas adicionales en formato _Markdown_ para explicar decisiones que hayas tomado al crear la consulta o cualquier otro dato que consideres interesante.
 
Para resolver estas consultas puedes usar __dos recursos que te recomendamos consultar__ son:

- [Este tutorial de SPARQL](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial).
- [Esta recopilación de ejemplos](https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples)

In [2]:
## Lo primero sería instalar en tu entorno de Python wdsparql
## Si no lo tienes instalado, puedes hacerlo desde el notebook
import sys

#!{sys.executable} -m pip install wdsparql

# Asumismos instalado wdsparql
%load_ext autoreload
%load_ext wdsparql
%autoreload 2

### Ejemplo

Recuperar todas las instancias directas de la clase [Cabra (Q2934)](https://www.wikidata.org/wiki/Q2934) que aparecen en la base de conocimiento.

In [9]:
%%wdsparql
SELECT ?item ?itemLabel 
WHERE 
{
  ?item wdt:P31 wd:Q2934.  # instancias directas de la clase Cabra
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

### Consulta 1

[U2 (Q396)](https://www.wikidata.org/wiki/Q396) es una banda de rock con una larga trayectoria y numerosos éxitos. 

Vamos a comenzar por averiguar su fecha y lugar de formación (localidad y país).

In [22]:
%%wdsparql
SELECT ?inception ?inceptionLabel ?city ?cityLabel ?country ?countryLabel
WHERE 
{
# U2      Fundación fecha
  wd:Q396 wdt:P571 ?inception.
# U2      Ciudad    ?Ciudad
  wd:Q396 wdt:P740 ?city;
#       Pais    ?Pais
        wdt:P17 ?country.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

### Consulta 2

A continuación vamos a averiguar todos los miembros que se le conocen en la base de conocimiento. Queremos obtener los resultados ordenados alfabéticamente por su apellido e incluir su nombre completo y el artístico.

Puede que la siguiente información sobre el uso de [OPTIONAL](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#OPTIONAL) te resulte útil.

In [33]:
%%wdsparql
SELECT ?memberLabel ?artnameLabel ?nameLabel
WHERE 
{
# U2      Miembros ?Miembros
  wd:Q396 wdt:P527 ?member.
#            miembro nombre    ?nombre de nacimiento
  OPTIONAL { ?member wdt:P1477 ?name. }
#            miembro nombre artistico ?nombre Artistico 
  OPTIONAL { ?member wdt:P742 ?artname. }
#            miembro apellido ?apellido
  OPTIONAL { ?member wdt:P734 ?fname. }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
# ordenado por apellido
ORDER BY ?fnameLabel

Es importante usar dos OPTIONAL distintos para que se muestren todos los miembros, tengan o no pseudónimo y nombre completo asociados.

### Consulta 3

[Bono (Q834621)](http://www.wikidata.org/entity/Q834621) es el cantante de la banda. Además de cantante, ha tenido muchas otras ocupaciones. ¿Cuáles de ellas están relacionadas directamente con el mundo del [arte (Q483501](https://www.wikidata.org/wiki/Q483501)? Ten en cuenta que la jerarquía de ocupaciones puede ser muy sofisticada.

Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#Property_paths) te resulte útil.

In [34]:
%%wdsparql
SELECT ?prof ?profLabel
WHERE
{
#   Bono       'Trabajo' ?profesion
    wd:Q834621 wdt:P106 ?prof.
#    Profesion Propiedad Arte
    ?prof wdt:P279+ wd:Q483501.
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

Si no añadimos el `+` a la relación `wdt:P279` muchas de las profesiones no se recuperan.

### Consulta 4

Bono se ha casado una vez, con Ali Hewson, con la que tiene varios hijos. Queremos conocer los nombres de esos hijos y sus fechas de nacimiento. Los resultados deben aparecer ordenados cronológicamente.

In [37]:
%%wdsparql
SELECT ?nombreLabel ?fecha
WHERE
{
#   ?nombre padre   Bono
    ?nombre wdt:P22 wd:Q834621;
#           madre   Ali Hewson
            wdt:P25 wd:Q777287;
#           Fecha nacimiento ?fecha
            wdt:P569 ?fecha.
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
ORDER BY ?fecha

### Consulta 5

Bono ha recibido muchos premios a lo largo de su carrera. Queremos obtener la lista de premios y, para cada uno de ellos, la fecha en la que fue premiado (si está disponible). Los resultados se deben mostrar ordenado por fecha.

Para resolver esta consulta necesitarás acceder a los cualificadores de nodos sentencia y necesitarás entender los prefijos que usa Wikidata. Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#Qualifiers) te resulte útil.

In [38]:
%%wdsparql
SELECT ?fecha ?premioLabel
WHERE
{
#   Bono       premios ?nodo
    wd:Q834621 p:P166 ?nodo.
#   nodo  premios  ?premio
    ?nodo ps:P166 ?premio.
    OPTIONAL { ?nodo pq:P585 ?fecha. }
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
ORDER BY ?fecha

### Consulta 6

Ahora queremos conocer todos los discos de U2 del tipo [albunes en directo (Q209939)](https://www.wikidata.org/wiki/Q209939) y cualquiera de sus subgéneros. Los resultados se deben mostrar ordenados por nombre e incluir el año de publicación.

In [8]:
%%wdsparql
SELECT ?albumLabel ?fecha ?generoLabel
WHERE
{
#   ?album performer U2
    ?album wdt:P175 wd:Q396;
#           tipo    Live Album
            wdt:P7937 wd:Q209939.
#   ?album  publicacion    ?fecha
    OPTIONAL { ?album wdt:P577 ?fecha. }
#   ?album  genero    ?genero
    OPTIONAL { ?album wdt:P136 ?genero. }   #TODO: Coger solo uno
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
ORDER BY ?fecha

### Consulta 7

Queremos saber si hay obras de U2 publicadas varias veces (en diferentes años). Para ello vamos a recuperar las obras de tipo [lanzamiento de un grupo (group release)](https://www.wikidata.org/wiki/Q108346082) pero mostrando también la fecha de publicación más antigua de cada una y el número de apariciones. Los resultados deben aparecer en orden cronológico.

Para calcular la fecha correcta tendrás que agrupar las respuestas por album y aplicar una función de agregación sobre las fechas de lanzamiento. Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#Grouping) te resulte útil.

### Consulta 8

U2 es sin duda un grupo con una larga trayectoria. ¿Cuántas discos ha lanzado? Vamos a considerar sólo instancias directas de [album de estudio (Q208569)](https://www.wikidata.org/wiki/Q208569).

### Consulta 9

Entre todos sus discos de estudio, queremos recuperar los títulos, fechas de lanzamiento y discográfica de los discos de la década de los 1990. Si alguna obra tiene varias fechas de publicación, se mostrará si alguna de ellas está dentro de ese periodo.

Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#FILTER) te resulte útil.

### Consulta 10

¿Qué otros personajes famosos nacieron el mismo año que Bono y tiene su misma nacionalidad? Para cada uno de ellos muestra su nombre y ocupación. Muestra los resultados ordenados por nombre y fecha de nacimiento.

### Consulta 11

¿Cuántos asertos hay sobre U2 en Wikidata? Ten en cuenta que puede aparece tanto como sujeto como objeto de cada tripleta.